.card{
  display:flex;
  background-color: rgb(116, 117, 163);
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  height: 70px;
  font-family: 'Roboto';
  align-items: center;
  font-weight: 600;
  color:#fff;
  button{
  border: none;
  background: transparent;
  cursor: pointer;
}
 
}

.dateContainer{
  display:flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  font-size: 12px;
}
.date{
  display: flex;
  width: 100%;
  margin-left: 4px;
  align-self: baseline;
}
.hour{
  margin-left: 4px;
  align-self: baseline;
}
.nameContainer{
  display: flex;
  margin-left: 50px;
  width: 30%;
  height: 100%;
  flex-direction:column;
 
}
.eventName{
  display: flex;
  margin-top:10px;
  align-self: center;
}
.eventCurrency{
  margin-top:4px;
  font-size: 14px;
}

.editIcon{
  border: none;
  margin-left: 90px;
}